.tab-bars {
  margin-bottom: 140px;
}

.tab-bars__wrapper {
  display: flex;
  flex-direction: column;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 19px;
}

.tab-bars__button {
  width: 195px;
  min-height: 50px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #48494d;
  border: 1px solid #d7d9df;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;

  &:hover:not(.tab-bars__button--active) {
    opacity: 0.7;
  }

  &--active {
    background-color: #d12136;
    color: #ffffff;
    border: none;
  }
}
